html, body {
  background-color: #fff !important;
  color: #000000 !important;
}

h1 {
  color: #0058a3
}

.ingka-blue {
  text: #0058a3
}

.spaced li {
  margin:0 0 10px 0;
}

.shadow {
  box-shadow:0 14px 20px 0 rgb(255, 255, 255),0 10px 24px 0 rgb(255, 255, 255) !important;
}

